[submodule "MTP"]
	path = MTP
	url = git@github.com:PhyAMR/MTP.git
[submodule "LCP"]
	path = LCP
	url = git@github.com:PhyAMR/LCP.git
[submodule "QIAP"]
	path = QIAP
	url = git@github.com:PhyAMR/QIAP.git
